* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  height: 100vh;
  position: relative;
}

.qu-number {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 2s ease;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  -o-transition: 2s ease;
  user-select: none;
}

@media (max-width: 768px) {
  .qu-number {
    display: none;
  }
}

.qu-number span {
  background-color: white;
  width: 55px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.567);
}

.qu-number span.current {
  width: 140%;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  z-index: 9999;
  color: white;
  background-color: #05839c;
}

.welcome {
  color: white;
  width: fit-content;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 25px;
  font-weight: 500;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.3s ease;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  background: #fff;
  color: #438a9b;
  cursor: pointer;
  padding: 15px 30px;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  user-select: none;
}

@media (max-width: 576px) {
  .welcome {
    font-size: 19px;
  }
}

.qus_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 660px;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media (max-width: 576px) {
  .qus_box {
    width: 350px;
  }
  .qus_box header {
    flex-direction: column;
    padding: 12px !important;
  }

  .title {
    margin-bottom: 10px;
  }

  .time {
    height: 39px !important;
  }
  .time .time_txt {
    font-size: 18px;
  }
  .time .sec {
    font-size: 16px;
  }
}

.qus_box header {
  box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 10%);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.qus_box header .title {
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

.qus_box .time_line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #007bff;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.qus_box .qus {
  color: black;
  padding: 25px 30px 20px 30px;
  font-weight: 600;
}

.qus .qus_text {
  font-size: 25px;
  font-weight: 600;
  user-select: none;
}

.qus .options {
  padding: 20px 0;
}

.qus .options .ans {
  padding: 8px 15px;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.qus .options .ans:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

.qus .options .ans:not(:last-child) {
  margin-bottom: 15px;
}

.qus .options .ans span {
  font-weight: 400;
  font-size: 17px;
  color: #000;
}

@media (max-width: 768px) {
  .qus .qus_text {
    font-size: 20px;
  }

  .qus .options .ans span {
    font-size: 14px;
  }
}

.qus .options .ans.true {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.qus .options .ans.false {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.qus .options .ans.disabled {
  pointer-events: none;
}

.qus .options .ans .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
  display: inline-block;
}

.qus .options .ans .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

.qus .options .ans .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.qus_box footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border-top: 1px solid lightgrey;
  user-select: none;
}

.qus_box footer .next_btn {
  border: none;
  color: white;
  background-color: #05839c;
  font-size: 18px;
  padding: 0 13px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  user-select: none;
}

.qus_box footer .next_btn:hover {
  background-color: #006f85;
}

.time {
  background-color: #cce5ff;
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 45px;
  border: 1px solid #b8daff;
}

.time_txt {
  font-weight: 500;
  font-size: 20px;
  user-select: none;
}

.sec {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #05839c;
  border: 1px solid #05839c;
  user-select: none;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 1s ease;
  padding: 25px;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  user-select: none;
}

@media (max-width: 567px) {
  .result {
    width: 90%;
  }
  .result .r_txt {
    font-size: 15px !important;
  }
}

.result .r_icon {
  font-size: 100px;
  color: #05839c;
}

.result .r_txt {
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 25px;
}

.result .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
}

.result .btns .replay,
.result .btns .Quit {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  user-select: none;
  margin-right: 17px;
}

.result .btns .replay {
  background: #438a9b;
  color: #fff;
  border: 1px solid #438a9b;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.result .btns .replay:hover {
  background-color: #006f85;
}

.result .btns .Quit {
  background: #fff;
  color: #438a9b;
  border: 1px solid #438a9b;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.result .btns .Quit:hover {
  background-color: #438a9b;
  color: #fff;
}
