* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  height: 100vh;
  color: white;
  position: relative;
}

.qu-number {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.qu-number span {
  background-color: white;
  width: 55px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.567);
}

.qu-number span.current {
  width: 140%;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  z-index: 9999;
  color: white;
  background-color: #05839c;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  background: #fff;
  color: #438a9b;
  cursor: pointer;
  padding: 15px 30px;
  outline: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.qus_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  /* display: none; */
  /* opacity: 0; */
}

.qus_box header {
  box-shadow: 0px 3px 5px 1px rgb(0 0 0 / 10%);
  /* position: relative;Z */
}

.qus_box header .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
}

.qus_box .time_line {
  position: absolute;
  left: 0;

  height: 2px;
  width: 40%;
}

.qus_box .qus {
  color: black;
  padding: 25px 30px 20px 30px;
  font-weight: 600;
}

.qus .qus_text {
  font-size: 25px;
  font-weight: 600;
}

.qus .options {
  padding: 20px 0;
}

.qus .options .ans {
  padding: 8px 15px;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qus .options .ans:not(:last-child) {
  margin-bottom: 15px;
}

.qus .options .ans span {
  font-weight: 400;
  font-size: 17px;
  color: #000;
}

.qus .options .ans.true {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.qus .options .ans.false {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.qus .options .ans .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
  display: inline-block;
}

.qus .options .ans .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

.qus .options .ans .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.qus_box footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border-top: 1px solid lightgrey;
}

.qus_box footer .next_btn {
  border: none;
  color: white;
  background-color: #05839c;
  font-size: 18px;
  padding: 0 13px;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.qus_box footer .next_btn:hover {
  background-color: #006f85;
}
